{{#each this}}
<ul class="info-list">
  <p><span class="list-country">Countries :</span> {{name}}</p>
  <p><span class="list-country">Capital :</p> {{capital}}</p>
  <p><span class="list-country">Population :</p> {{population}}</p>
  <p><span class="list-country">Launguages :</span></p>
  {{#each languages}}
  <li class="list-laungueges">{{name}}</li>
  {{/each}}
</ul>
<div class="flag"><img src="{{flag}}" alt="{{capital}}" width="360"></div>
{{/each}}