{{#each this}}
<ul class="info-list">
  <p>Countries: {{name}}</p>
  <p>Capital: {{capital}}</p>
  <p>Population: {{population}}</p>
  <p>Launguages:</p>
  {{#each languages}}
  <li>{{name}}</li>
  {{/each}}
</ul>
<div class="flag"><img src="{{flag}}" alt="{{capital}}" width="480"></div>
{{/each}}